<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <p>
		Thank you for your order <%= @order.email %>
		This is your order confirmation id: <%= @order.id %>.
		Have a great day! :)
  </p>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="1">Product</th>
          <th>Description</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |i| %>
        <tr>
          <td><%= image_tag i.product.image.tiny %></td>
          <td><%= i.product.description %></td>
          <td><%= i.item_price_cents/100 %></td>
          <td><%= i.quantity %></td>
          <td><%= i.total_price_cents/100 %></td>
        <% end %>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= @order.total_cents/100 %><br>
          </th>
        </tr>
        <tr>
          <th colspan="2">
            EMAIL: <%= @order.email %><br>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

</section>
