<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <h3>Details</h3>
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <p>
          <dt></dt>
          <dd>
          <% if current_user && @product.quantity != 0 %>
            <%= link_to add_item_cart_path(product_id: @product.id), class: 'btn btn-primary', method: :put do %>
              <%= fa_icon "shopping-cart", text: 'Add' %>
            <% end %>
          <% end %>
          <% if @product.reviews.count != 0 %>
            <span class="btn btn-default" id="rating">
              <%= @product.reviews.average(:rating).round %> / 5
            </span>
          <% end %>
          </dd>
          </p>
        </dl>
      </div>
    </div>
  </article>
  
  <% if current_user %>
    <article class="reviews-box spacer">
      <h2 class="reviews-header"> Add a review </h2>
      <div class="row">
        <%= form_for [@product, @review] do |form| %>
          <% if form.object.errors.any? %>
            <div class="alert alert-danger">
              <strong>The following errors prevented saving:</strong>
              <ul>
                <% form.object.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="col-sm-8">
            <dl class="dl-horizontal">

              <div class="form-group">
                <dt><%= form.label :rating %></dt>
                <dd><%= select(:review, :rating, options_for_select([
                  ['5', 5], ['4', 4], ['3', 3], ['2', 2], ['1', 1] ]
                  )) %>
                </dd>

              <div class="form-group">
                <dt><%= form.label :description %></dt>
                <dd><%= form.text_area :description, class: 'form-control review-description' %></dd>
              </div>
              <dt></dt>
              <dd><%= form.submit 'Submit Review', class: 'btn btn-primary' %></dd>
            </dl>
          </div>

        <% end %>
      </div>
    </article>
  <% end %>
  
  <article class="reviews-box">
    <h3 class="reviews-header"> Reviews </h3>
    <div class="row reviews">
      <% @product.reviews.reverse_each do |detail| %>
        <div class="col-sm-8">
          <dl class="dl-horizontal">
            <dt>User</dt>
            <dd><%= detail.user.first_name %> <%= detail.user.last_name %></dd>
            <dt>Rating</dt>
            <dd><%= detail.rating %> / 5</dd>
            <dt>Description</dt>
            <dd><%= detail.description %></dd>
            <% if current_user == detail.user %>
            <dt>Delete Review</dt>
            <dd><%= link_to fa_icon('trash'), product_review_url(@product.id, detail.id), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %></dd>
            <% end %>
          </dl>
        </div>
      <% end %>
    </div>
  </article>

</section>
